* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./static/images/bg.webp");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  width: 100%;
  background: rgb(16, 16, 16);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header #logo a img {
  width: 120px;
}
.header #navbar ul {
  display: flex;
}
.header #navbar ul li {
  margin: 0 10px;
}
.header #navbar ul li a {
  color: #fff;
  text-transform: capitalize;
  padding: 10px;
  transition: all 0.4s ease;
}
.header #navbar ul li a:hover {
  color: rgb(255, 187, 0);
  transition: all 0.4s ease;
}
.header #navbar ul li a.active {
  color: rgb(255, 187, 0);
}
/* Section__one */
#section__one {
  width: 100%;
  min-height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/bg2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section__one h4 {
  color: rgb(255, 179, 0);
  font-family: "Nothing You Could Do", cursive;
  font-size: 50px;
}
#section__one h1 {
  color: #fff;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 70px;
}
#section__one .btns {
  position: relative;
  top: 30px;
}
#section__one .btns a {
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 15px 30px;
  font-weight: 500;
  border: 1px solid rgb(255, 179, 0);
  transition: all 0.4s ease;
}
#section__one .btns a:nth-child(1) {
  background: rgb(255, 179, 0);
  color: #000;
}
#section__one .btns a:nth-child(1):hover {
  border: 1px solid rgb(255, 179, 0);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: all 0.4s ease;
}
#section__one .btns a:nth-child(2) {
  background: rgba(0, 0, 0, 0.3);
}
#section__one .btns a:nth-child(2):hover {
  background: rgb(255, 179, 0);
  color: #000;
  transition: all 0.4s ease;
}
i {
  color: #fff;
}
#section__two {
  width: 100%;
  min-height: 15vh;
  display: flex;
  align-items: center;
}
#section__two .outter__box__one {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #000;
  height: 15vh;
}
#section__two .outter__box__one .inner__box__one {
  display: flex;
}
#section__two .outter__box__one .inner__box__one .text {
  padding: 0 30px;
}
#section__two .outter__box__one .inner__box__one .text h3 {
  color: #fff;
}
#section__two .outter__box__one .inner__box__one .text p {
  color: gray;
  position: relative;
  top: 10px;
}
#section__two .outter__box__one .inner__box__one .icon i {
  color: rgb(255, 187, 0);
  font-size: 22px;
}
#section__two .outter__box__two {
  width: 25%;
  height: 15vh;
  background: rgb(255, 187, 0);
  display: flex;
  align-items: center;
}
#section__two .outter__box__two .inner__box__two .social__icons a i {
  padding: 30px;
  font-size: 22px;
  color: #000;
}
#section__three {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
#section__three .left__image {
  width: 50%;
}
#section__three .left__image img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#section__three .right__text {
  width: 50%;
  height: 40vh;
  padding: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(138, 106, 106, 0.3)),
    url("./static/images/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#section__three .right__text h1 {
  margin: 20px 0;
  font-family: "Josefin Sans";
  font-size: 32px;
  font-weight: 400;
}
#section__three .right__text h1 span {
  color: rgb(255, 187, 0);
  font-family: "Josefin Sans";
  font-weight: 400;
}
#section__three .right__text p {
  color: rgb(255, 211, 130);
}
#section__four {
  width: 100%;
  color: #fff;
}
#section__four h1,
#section__four p {
  text-align: center;
}
#section__four > h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-size: 40px;
}
#section__four > p {
  color: rgb(255, 211, 130);
}
#section__four .pizza__container__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 30px;
  flex-wrap: wrap;
}
#section__four .pizza__container__box .card {
  width: 400px;
  max-height: 600px;
  overflow: hidden;
  background: rgb(255, 187, 0);
  color: #000;
  padding: 20px;
  margin: 20px 0;
}
#section__four .pizza__container__box .card .image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}
#section__four .pizza__container__box .card .pizza__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section__four
  .pizza__container__box
  .card
  .pizza__content
  .price__order__btn__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#section__four
  .pizza__container__box
  .card
  .pizza__content
  .price__order__btn__box
  h4 {
  font-family: "Josefin Sans";
  font-size: 25px;
  padding: 15px 0;
  color: #fff;
  text-shadow: 0 0 4px #000;
}
#section__four
  .pizza__container__box
  .card
  .pizza__content
  .price__order__btn__box
  button {
  cursor: pointer;
  background: #000;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 30px;
  font-size: 17px;
  width: 100%;
}
#section__four
  .pizza__container__box
  .card
  .pizza__content
  .price__order__btn__box
  button:hover {
  background: #fff;
  color: #000;
  font-weight: bold;
}
#orders {
  width: 100%;
  min-height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 170px 30px;
}
#orders h1 {
  font-family: "Josefin Sans";
  font-size: 40px;
  color: rgb(255, 187, 0);
}
#orders .table__orders__container {
  width: 100%;
}
#orders .table__orders__container .table__orders {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
#orders .table__orders__container .table__orders table {
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  /* text-align: center; */
}
#orders .table__orders__container .table__orders table tr > th,
td {
  border: 2px solid rgb(60, 255, 0);
  border-left: none;
  border-right: none;
  padding: 10px 30px;
}
#orders .table__orders__container .table__orders table tr > th {
  color: rgb(255, 211, 130);
}
#orders .table__orders__container .table__orders table tr > td {
  font-weight: normal;
}
#orders .table__orders__container .table__orders table tr > td > form input {
  display: none;
}
#orders .table__orders__container .table__orders table tr > td > form button {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
#orders .table__orders__container .table__orders table tr > td > form button i {
  color: red;
}
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > td
  > form
  button:hover {
  color: red;
}

/*  */
#orders .table__orders__container .table__orders table tr > th > form input {
  display: none;
}
#orders .table__orders__container .table__orders table tr > th > form button {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
#orders .table__orders__container .table__orders table tr > th > form button i {
  color: red;
}
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > th
  > form
  button:hover {
  color: red;
}
/*  */
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > td
  > .btn__increament__decreament {
  display: inline-block;
  padding: 0 10px;
}
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > td
  > .btn__increament__decreament
  i {
  color: #fff;
  cursor: pointer;
  padding: 5px;
}
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > td
  > .btn__increament__decreament
  .fa-plus {
  color: aquamarine;
}
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > td
  > .btn__increament__decreament
  .fa-minus {
  color: coral;
}
#orders
  .table__orders__container
  .table__orders
  table
  tr
  > td
  > .btn__increament__decreament
  input {
  display: none;
}
.menu {
  padding: 100px 30px;
  background: rgb(31, 31, 31);
}
.order__link {
  position: relative;
}
.order__link .order__num {
  color: rgb(255, 255, 255);
  position: absolute;
  right: -20px;
  top: -15px;
  background: red;
  border-radius: 50%;
  padding: 5px 10px;
}
#orders .confirm_orders form {
  padding-bottom: 30px;
}
#orders .confirm_orders form button {
  background: orangered;
  border: none;
  outline: none;
  color: #fff;
  font-size: 25px;
  padding: 10px 30px;
  cursor: pointer;
}
#orders h4 {
  text-align: center;
  color: #fff;
  font-family: "Nothing You Could Do", cursive;
  font-size: 40px;
}
#orders h4 > a {
  text-align: center;
  color: rgb(60, 255, 0);
  font-family: "Nothing You Could Do", cursive;
  font-size: 40px;
  text-decoration: underline;
}
#orders .confirmed_bill {
  padding-bottom: 40px;
}
#orders .confirmed_bill i {
  color: rgb(0, 255, 0);
}
#orders .bill_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#orders .bill_container .bill_box {
  background: #f1f1f1;
  color: #000;
  padding: 20px;
}
#orders .bill_container .bill_box table {
  border-collapse: collapse;
  text-align: center;
}
#orders .bill_container .bill_box table td,
#orders .bill_container .bill_box table th {
  border: none;
}
.cancel_all_order {
  background: red;
  padding: 10px 30px;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 22px;
  outline: none;
  border: none;
  border-radius: 30px;
  font-family: "Josefin Sans";
  margin: 20px 0;
  cursor: pointer;
}
#signup {
  width: 100%;
  min-height: 100vh;
  background: rgb(49, 49, 49);
  padding-top: 170px;
  color: #fff;
}
#signup h1 {
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 40px;
}
#signup .form__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup .form__box form {
  background: #fff;
  width: 30%;
  padding: 30px;
  box-shadow: 0 0 10px 1px #000000;
}
#signup .form__box form label {
  display: block;
  color: #000;
  font-size: 19px;
}
#signup .form__box form input {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid orangered;
}
#signup .form__box form input:focus {
  border-bottom: 2px solid red;
}
#signup .form__box form div {
  margin: 10px 0;
}
#signup .form__box form .btn-submit-form {
  padding: 10px 0;
}

#signup .form__box form button {
  display: block;
  width: 100%;
  background: orangered;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  font-family: "Josefin Sans";
  border: none;
  outline: none;
  transition: all 0.4s ease;
}
#signup .form__box form button:hover {
  background: rgb(255, 0, 0);
  transition: all 0.4s ease;
}
#signup .form__box form p {
  text-align: center;
  color: #000;
}
#signup .form__box form p a {
  text-decoration: underline;
  color: violet;
}
#profile {
  width: 100%;
  min-height: 100vh;
  background: rgb(27, 27, 27);
  padding: 0 60px;
  padding-top: 170px;
}
#profile .profile__contaier {
  width: 100%;
  background: #f1f1f1;
  padding: 30px;
  border-radius: 40px;
}
#profile .profile__contaier .image__box__profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#profile .profile__contaier .image__box__profile .image__container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
#profile .profile__contaier .image__box__profile .image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#profile .profile__contaier .image__box__profile .details h4 {
  font-family: "Josefin Sans";
  font-size: 20px;
  line-height: 30px;
}
#profile .profile__contaier .image__box__profile .details form {
  padding: 20px 0;
}
#profile .profile__contaier .image__box__profile .details form button {
  border: none;
  outline: none;
  background: red;
  color: #fff;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
#profile .profile__contaier .image__box__profile .address {
  font-size: 20px;
}
#profile .profile__contaier .image__box__profile .address i {
  color: #000;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}
#profile .profile__contaier .image__box__profile .address i:hover {
  transform: scale(1.3);
  transition: all 0.4s ease;
}
#profile .profile__contaier .image__box__profile .image__container .edit_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  visibility: hidden;
}
#profile
  .profile__contaier
  .image__box__profile
  .image__container:hover
  > .edit_image {
  visibility: visible;
}
#profile
  .profile__contaier
  .image__box__profile
  .image__container
  .edit_image
  i {
  transform: scale(0);
  transition: all 0.4s ease;
  z-index: 2;
}
#profile
  .profile__contaier
  .image__box__profile
  .image__container:hover
  > .edit_image
  i {
  transform: scale(2);
  transition: all 0.4s ease;
}
#profile
  .profile__contaier
  .image__box__profile
  .image__container
  .edit_image
  div {
  width: 0%;
  height: 0%;
  transition: all 0.4s ease;
  border-radius: 50%;
  position: absolute;
}
#profile
  .profile__contaier
  .image__box__profile
  .image__container:hover
  > .edit_image
  div {
  background: rgba(0, 0, 0, 0.555);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.4s ease;
}
#profile .upload_image_form {
  width: 400px;
  height: 200px;
  background: #f1f1f1;
  box-shadow: 0 0 10px 5px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#profile .cross {
  width: 100%;
  text-align: right;
}
#profile .cross i {
  padding: 15px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
#profile .upload_image_form .image_btns {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#profile .upload_image_form .image_btns input {
  color: red;
  text-decoration: underline;
  margin: 5px;
  cursor: pointer;
  position: relative;
  left: 50px;
}
#profile .upload_image_form .image_btns button {
  border: none;
  outline: none;
  background: orangered;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
#profile .upload_image_form .image_btns button:hover {
  background: rgb(255, 238, 0);
  color: #000;
}
#profile .upload_image_form .image_btns label {
  display: none;
}
#profile .address_upload {
  width: 400px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  box-shadow: 0 0 10px 5px #000;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#profile .address_upload .cross2 {
  width: 100%;
  text-align: end;
}
#profile .address_upload .cross2 i {
  padding: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
#profile .address_upload h1 {
  margin: 10px 0;
}
#profile .address_upload textarea {
  padding: 10px;
}
#profile .address_upload .btn__address {
  width: 100%;
}
#profile .address_upload .btn__address button {
  width: 100%;
  padding: 10px;
  background: orangered;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
#profile .address_upload .btn__address button:hover {
  background: red;
}
#contact {
  width: 100%;
  min-height: 100vh;
  background: rgb(47, 47, 47);
  padding: 170px 0;
}
#contact h1 {
  color: rgb(255, 179, 0);
  font-family: "Josefin Sans";
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
#contact .form__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#contact .form__contact form {
  background: #fff;
  padding: 30px;
  width: 30%;
}
#contact .form__contact form div {
  margin: 20px 0;
}
#contact .form__contact form div label {
  display: block;
  font-size: 22px;
}
#contact .form__contact form div input,
#contact .form__contact form div textarea {
  width: 100%;
  outline: none;
  padding: 5px;
  font-size: 18px;
}
#contact .form__contact form div input {
  border: none;
  border-bottom: 1px solid #000;
}
#contact .form__contact form div textarea {
  height: 100px;
}
#contact .form__contact form div input:focus {
  border-bottom: 2px solid rgb(255, 211, 130);
}
#contact .form__contact form div textarea:focus {
  border: 2px solid rgb(255, 211, 130);
}
#contact .form__contact form button {
  background: orangered;
  color: #fff;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
#section__four .card .pizza__content .price__order__btn__box .btn__none {
  background: rgb(104, 104, 104) !important;
  color: #000 !important;
}
#section__four .card .pizza__content .price__order__btn__box .btn__none:hover {
  font-weight: normal !important;
}
#section__four .warning_no_order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #000;
  padding: 30px;
  display: none;
}
#section__four .warning_no_order .cross3 {
  width: 100%;
  text-align: right;
}
#section__four .warning_no_order .cross3 i {
  color: #000;
  font-size: 30px;
  cursor: pointer;
}
#section__four .warning_no_order h1 {
  font-weight: normal;
  font-family: "Josefin Sans";
}
.message__box {
  width: 100%;
  position: fixed;
  /* margin: 100px 0; */
  z-index: 99999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.message__box i {
  font-size: 30px;
  cursor: pointer;
}
.success {
  background: rgb(0, 199, 0);
  color: #fff;
}
.warning {
  background: rgb(255, 72, 0);
  color: #fff;
}
